<% if false %>
  <%= params %>  
<% end %>

<%= render partial: 'shared/flash' %>

<section>
  <h1 class="is-size-2 has-text-centered py-4">Find Flights</h1>

  <div class="container">
    <%= render partial: 'search_form', locals: { airport_options: @airport_options } %>
  </div>
  
</section>

<% if @search_results %>
  <section>
    <div class="container">
      <%= render partial: 'search_results', locals: { flights: @search_results } %>
    </div>
  </section>  
<% end %>

