<section>
  <h1 class="is-size-2 has-text-centered py-6">Find Flights</h1>

  <div class="container">
    <%= render partial: 'search_form', locals: { airports: @airports, airport_options: @airport_options } %>
  </div>
  
</section>

<section>
  <div class="container">
    <%= render partial: 'search_results', locals: { search_results: @flight_search_results } %>
  </div>
</section>
