<section>
  <h1 class="is-size-2 has-text-centered py-6">Find Flights</h1>

  <div class="container">
    <%= render partial: 'search_form' %>
  </div>

<% if false %>
  <p class='has-text-primary'>If this is green, Bulma is working!</p>
<% end %>
  
</section>
