<% if false %>
  <%= params %>  
<% end %>

<div class="section">
  <h1 class="is-size-2 has-text-centered py-4">Flight Booking Details</h1>
  <div class="container has-text-centered">
    <%= summary(@flight) %>
  </div>

  <div class="container">
    <%= render partial: 'form', locals: { flight: @flight, booking: @booking } %>
  </div>
</div>