<nav class="navbar has-background-dark is-transparent">
  <div class="navbar-brand">
    <%= link_to flights_path, class: "navbar-item has-text-light" do %>
      <i class="fa-solid fa-feather pr-4 logo-icon"></i>
      <span class="is-size-3">Goose</span>
    <% end %>

    <a href="" class="navbar-burger has-text-light">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <%= link_to bookings_path, class: "navbar-item has-text-light" do %>
        <i class="fa-solid fa-search pr-2"></i>
        <span>Lookup Confirmation</span>
      <% end %>
    </div>
  </div>
</nav>