.site {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.is-vbottom {
  margin-top: auto;
}

.has-flex-gap-20 {
  gap: 20px;
}

.navbar-brand span {
  white-space: nowrap;
}